/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */


/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

 :root {
    --accent-color: #171f3a;
    --openSans: 'Lato', sans-serif;
    --font-titles: 'Fredoka One', cursive;
    /* colors  */
    --yellow: #f9c331;
    --orange: #f7882f;
    --gray: #6b7a8f;
    --be: #dcc7aa;
    --sub-title-c: #62615c;
}

.bg-c-yellow {
    background-color: var(--yellow);
}

.bg-c-orange {
    background-color: var(--orange);
}

.bg-c-orange:hover {
    background-color: #e5873b;
}

.bg-c-gray {
    background-color: var(--gray);
}

.bg-c-be {
    background-color: var(--be)!important;
    color: black!important;
}

.bg-c-be:hover {
    color: rgb(35, 35, 35)!important;
    background-color: #6a6968!important;
}

.font-c-orange {
    color: var(--orange)!important;
}

body {
    font-family: var(--openSans);
    background-image: url('../assets/img/bg/vintage_speckles_@2X.png')!important;
}

h1,
h2,
h3 {
    font-family: var(--font-titles);
    text-align: center;
    text-transform: uppercase;
}

h4 span {
    color: var(--orange);
}

.input-group-text {
    background-color: var(--orange);
    color: #fff;
}

.btn-submit {
    text-align: center;
    height: 40px;
    width: 40%;
    border: none;
    border-radius: 3px;
    color: #ffffff;
}

.container h2 {
    font-size: 45px;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    margin: 30px 0;
    color: var(--sub-title-c);
}

@media (min-width: 768px) {
    .container h2 {
        font-size: 70px;
    }
}

.container h2 span {
    color: var(--orange);
}

.container h2::after {
    content: '';
    margin: 0 auto;
    background-image: url(../assets/img/separator.svg?v=1);
    height: 30px;
    width: 220px;
    display: block;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

section.container {
    margin-top: 30px;
}

.box-shadow {
    -webkit-box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.75);
}


/* nav bar  */

.navbar-nav li {
    text-transform: uppercase;
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero {
    width: 100%;
    height: 90vh;
    background-color: rgba(39, 37, 34, 0.8);
    overflow: hidden;
    padding: 0;
}

#hero .carousel-item {
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: center center;
    /* background-repeat: no-repeat; */
    z-index: 1;
}

@media (min-width: 488px) {
    #hero {
        height: 80vh!important;
    }
    #hero .carousel-item {
        height: 80vh!important;
    }
}

#hero .carousel-item::before {
    content: '';
    background-color: rgba(12, 11, 10, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#hero .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero .carousel-content {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    font-family: var(--openSans);
    font-size: 30px;
}

@media (min-width: 480px) {
    #hero .carousel-content {
        font-size: 60px;
    }
}

@media (min-width: 768px) {
    #hero .carousel-content {
        font-size: 50px;
    }
}

#hero h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 700;
}

#hero h2 span {
    color: #ffb03b;
}

#hero p {
    width: 80%;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    margin: 0 auto 30px auto;
    color: #fff;
}

#hero .carousel-inner .carousel-item {
    transition-property: opacity;
    background-position: center top;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-left,
#hero .carousel-inner .active.carousel-item-right {
    opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-left,
#hero .carousel-inner .carousel-item-prev.carousel-item-right {
    opacity: 1;
    transition: 0.5s;
}

#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-left,
#hero .carousel-inner .active.carousel-item-right {
    left: 0;
    transform: translate3d(0, 0, 0);
}

#hero .carousel-control-prev,
#hero .carousel-control-next {
    width: 10%;
    opacity: 1;
}

#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
    background: none;
    font-size: 36px;
    line-height: 1;
    width: auto;
    height: auto;
    /* background: rgba(255, 255, 255, 0.1); */
    border-radius: 50px;
    padding: 10px;
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.5);
}

#hero .carousel-control-next-icon:hover,
#hero .carousel-control-prev-icon:hover {
    /* background: rgba(255, 255, 255, 0.2); */
    color: rgba(255, 255, 255, 0.8);
}

#hero .carousel-indicators li {
    cursor: pointer;
}

#hero .btn-hero {
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 0 10px;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    color: #fff;
    border: .1px solid var(--orange);
    text-decoration: none;
}

#hero .btn-hero:hover {
    background: #ffb13b85;
    color: #fff;
}

#hero .btn-hero {
    font-size: 15px;
}

@media (min-width: 480px) {
    #hero .btn-hero {
        font-size: 45px;
    }
}

@media (min-width: 768px) {
    #hero .btn-hero {
        font-size: 35px;
    }
}

@media (max-width: 768px) {
    #hero h2 {
        font-size: 28px;
    }
}

@media (min-width: 1024px) {
    #hero p {
        width: 50%;
    }
    #hero .carousel-control-prev,
    #hero .carousel-control-next {
        width: 5%;
    }
}


/*-- specials --*/

.plate-name {
    font-size: 30px;
    text-align: center;
    color: var(--sub-title-c);
}

.price {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: var(--sub-title-c);
}

.plate-ingredients {
    text-align: center;
}

.specials .nav-tabs {
    border: 0;
}

.specials .row {
    font-family: var(--font-1);
    text-align: center;
}

.specials .nav-link {
    border: 0;
    padding: 12px 15px 12px 0;
    transition: 0.3s;
    color: #433f39;
    border-radius: 0;
    border-bottom: 2px solid #e8e7e4;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    margin-right: 10px;
}

@media (min-width: 992px) {
    .specials .nav-link {
        text-align: right;
    }
}

.specials .nav-link:hover {
    color: var(--orange);
}

.specials .nav-link.active {
    color: var(--orange);
    border-color: var(--orange);
    background-color: transparent;
}

.specials .tab-pane.active {
    -webkit-animation: fadeIn 0.5s ease-out;
    animation: fadeIn 0.5s ease-out;
}

.specials ul {
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding-bottom: 10px;
    border-radius: 5px;
}

.specials ul li {
    display: list-item;
}

.card img {
    transition: all .3s ease-in-out;
    z-index: 10;
}

.card img:hover {
    transform: scale(1.065);
}


/*--------------------------------------------------------------
# Menu Section
--------------------------------------------------------------*/

.menu #menu-flters {
    padding: 0;
    margin: 0 auto 0 auto;
    list-style: none;
    text-align: center;
    /* border-radius: 50px; */
    font-family: var(--font-1);
    text-transform: uppercase;
}

.menu #menu-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 16px 10px 16px;
    font-size: 22px;
    font-weight: 500;
    line-height: 1;
    color: #444444;
    margin: 0 3px 10px 3px;
    transition: all ease-in-out 0.5s;
    background: #fff;
    border: 1px solid var(--orange);
    border-radius: 10px;
}

.complete-menu {
    font-family: var(--font-1);
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 500;
    line-height: 1;
    color: #444444;
    margin: 0 3px 10px 3px;
    transition: all ease-in-out 0.5s;
    background: #fff;
    border: 1px solid var(--orange);
    border-radius: 10px;
}

.complete-menu:hover {
    color: #fff;
    background: var(--orange);
}

.menu-content {
    font-size: 1.2rem
}

@media (min-width: 780px) {
    .menu-content {
        font-size: 1rem
    }
}

@media (min-width: 480px) {
    .menu #menu-flters li {
        padding: 12px 20px;
        font-size: 24px;
    }
}

.menu #menu-flters li:hover,
.menu #menu-flters li.filter-active {
    color: #fff;
    background: var(--orange);
}

.menu #menu-flters li:last-child {
    margin-right: 0;
}

.menu .menu-content {
    margin-top: 15px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.menu .menu-content::after {
    content: "......................................................................" "...................................................................." "....................................................................";
    position: absolute;
    left: 20px;
    right: 0;
    top: 2.4px;
    z-index: 1;
    /* color: #dad8d4; */
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: var(--orange);
}

.menu-container {
    margin-top: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    font-family: var(--font-1);
    margin-bottom: 20px;
    padding-bottom: 1.3rem;
}

.menu .menu-content p {
    padding-right: 10px;
    background: #ffffff;
    position: relative;
    z-index: 3;
    font-weight: 500;
    color: black;
    font-size: 22px;
}

.menu .menu-content span {
    background: #ffffff;
    position: relative;
    z-index: 3;
    padding: 0 10px;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 10px;
}

.menu .menu-ingredients {
    font-style: italic;
    font-size: 1.1rem;
    color: #000000!important;
    font-weight: 500;
}


/* footer */

footer {
    background-color: var(--backgroudcolor);
}

.page-footer h2::after {
    display: none;
}

.logo-footer {
    width: 100%;
    height: auto;
}

.location-footer {
    margin-bottom: 10px;
}

.location-footer p,
.location-footer h4 {
    font-size: 15px;
    color: white;
}

.location-footer a {
    color: var(--orange);
}

.location-footer a:hover {
    color: var(--orange);
    text-decoration: none;
}

.txt-location {
    text-align: center;
}

@media (min-width: 480px) {
    .txt-location {
        text-align: left;
    }
}


/* img reservations  */

.image-thumbnail {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #222;
    padding-top: 70%;
    margin-bottom: 1.625rem;
}


/* gift cards and reservation */

.extras {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: var(--font-1);
}

.extras h3 {
    font-family: var(--font-titles);
    font-size: 34px;
    color: var(--sub-title-c);
    text-transform: uppercase;
    font-weight: 400!important;
}

.extras h3 span {
    color: var(--orange);
}

.extras .row div {
    margin-bottom: 20px;
}

.extras .row button {
    background-color: var(--orange);
    font-size: 22px;
    font-weight: 500;
    color: white;
}

.extras p {
    font-size: 22px;
}

.extras a {
    display: inline-block;
    width: 250px;
    background-color: var(--orange);
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    font-size: 22px;
}

.extras a:hover {
    color: #e1e1e1;
}

.extras .row div {
    margin-bottom: 60px;
}


/*--------------------------------------------------------------
# gift cards
--------------------------------------------------------------*/

.g-cards {
    font-family: var(--font-1);
}

.g-cards a {
    display: inline-block;
    width: 250px;
    background-color: var(--orange);
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    font-size: 22px;
    font-family: var(--font-1);
}

.field-c {
    margin-bottom: 40px;
}

.field-c p {
    margin-top: 10px;
}

.field-c a {
    margin-bottom: 20px!important;
}

.g-cards a:hover {
    color: #e1e1e1;
}

.c-card label {
    font-size: 22px;
}

.c-card p {
    margin-top: 10px;
    font-size: 20px;
    padding: 0 10px;
    font-family: var(--openSans);
}

.g-cards .c-balance,
.g-cards .c-b-card {
    display: none;
    margin-bottom: 100px;
}

.load-c {
    height: 200px;
    width: auto;
    display: none;
}


/*--------------------------------------------------------------
# locations
--------------------------------------------------------------*/

.locations {
    overflow: hidden;
}

.locations .container {
    background-color: #ffffff;
    padding: 20px;
}

.locations .nav-tabs {
    border: 0;
}

.locations .row {
    font-family: var(--font-1);
    text-align: center;
}

.locations ul li {
    font-family: var(--font-1);
    text-transform: uppercase;
}

.get-loc {
    margin-top: 20px;
}

.locations .nav-link {
    border: 0;
    padding: 12px 15px 12px 0;
    transition: 0.3s;
    color: #433f39;
    border-radius: 0;
    border-right: 2px solid #e8e7e4;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

@media (min-width: 992px) {
    .locations .nav-link {
        text-align: right;
    }
}

.locations .nav-link:hover {
    color: var(--orange);
}

.locations .nav-link.active {
    color: var(--orange);
    border-color: var(--orange);
}

.locations .tab-pane.active {
    -webkit-animation: fadeIn 0.5s ease-out;
    animation: fadeIn 0.5s ease-out;
}

.locations .details h3 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #433f39;
}

.details h4 span {
    font-size: 20px;
}

.locations .details p {
    color: #777777;
}

.locations .details p:last-child {
    margin-bottom: 0;
}

@media (max-width: 992px) {
    .locations .nav-link {
        border: 0;
        padding: 15px;
    }
    .locations .nav-link.active {
        color: #fff;
        background-color: var(--orange);
    }
}

.tab-content a {
    color: white;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
}

.tab-content a:hover {
    color: rgb(245, 238, 238);
}

.locations a {
    margin-bottom: 4px;
}

.locations .section-title h2 {
    text-align: center;
}

@media (min-width: 992px) {
    .locations .section-title h2 {
        text-align: left;
    }
    .locations .section-title h2::after {
        margin-left: 80px;
    }
}

.location-info h3 {
    margin: 20px 0;
    font-family: var(--font-1)!important;
    font-size: 34px!important;
    font-weight: 500!important;
}

.location-info p,
.location-info h4 {
    color: #000;
}

.location-info p {
    margin-bottom: 20px;
    font-size: 19px;
}

.map {
    margin-top: 20px;
    height: 270px;
    border: 0;
    width: 100%;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .map {
        width: 100%;
        height: 500px;
    }
}

.leaflet-container .leaflet-control-attribution {
    background: #fff;
    background: rgba(255, 255, 255, 0.7);
    margin: 0;
    display: none;
}


/* offers */

.offers .container {
    margin-bottom: 20px;
}

.offers label {
    font-weight: 400;
}

.offers {
    font-family: var(--font-1);
    font-size: 18px;
}

.offers .row {
    font-size: 22px;
}

.offers h3 {
    font-family: var(--font-1)!important;
    text-transform: uppercase;
    text-align: center;
}

.offers .select2 option {
    font-size: 1rem!important;
    font-weight: 400!important;
    line-height: 1.5!important;
    color: #495057!important;
}

.offers .row i {
    color: #ffffff;
}

.offers form {
    background-color: #fff;
    margin-bottom: 20px;
}

#mc-embedded-subscribe-form .row .form-group {
    margin: 0 auto;
    margin-bottom: 10px;
}

div#mce-responses {
    float: left;
    top: -1.4em;
    padding: 0em .5em 0em .5em;
    overflow: hidden;
    width: 90%;
    margin: 0 5%;
    clear: both;
}

#mce-error-response {
    display: none;
    width: 100%;
}

#mce-success-response {
    display: none;
    width: 100%;
}

label.error {
    display: block;
    float: none;
    width: auto;
    margin-left: 1.05em;
    text-align: left;
    padding: .5em 0;
}

#mc-embedded-subscribe {
    text-transform: uppercase;
}


/* about */

.gallery {
    padding-bottom: 0;
}

.gallery .gallery-item {
    overflow: hidden;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

.gallery .gallery-item img {
    transition: all ease-in-out 0.4s;
}

.gallery .gallery-item:hover img {
    transform: scale(1.1);
}

.gallery-item a img {
    width: 100%;
    height: 100%;
}

.auto-resize {
    height: 110px;
    width: 280px;
}


/* reservations */

.reservations {
    font-family: var(--font-1);
    font-size: 18px;
}

.reservations .row {
    font-size: 22px;
}

.reservations h3 {
    font-family: var(--font-1)!important;
    text-transform: uppercase;
    text-align: center;
}

.reservations p {
    font-size: 22px;
}

.reservations .select2 option {
    font-size: 1rem!important;
    font-weight: 400!important;
    line-height: 1.5!important;
    color: #495057!important;
}

.reservations .row i {
    color: #ffffff;
}

.reservations form {
    background-color: #fff;
    margin-bottom: 20px;
}

#reservation .row .form-group {
    /* margin: 0 auto; */
    margin-bottom: 10px;
}

#reservation-btn {
    text-transform: uppercase;
}

.radiobtn {
    font-weight: 700;
    font-size: 20px;
    width: 80PX;
    padding: 10px;
    margin-bottom: 3px;
    border-bottom: 2px solid #f8c46e!important;
}


/* loader */

.loader {
    position: relative;
    width: 80px;
    margin: 0 auto;
}

.duo {
    height: 20px;
    width: 50px;
    background: hsla(0, 0%, 0%, 0.0);
    position: absolute;
}

.duo,
.dot {
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.duo1 {
    left: 0;
}

.duo2 {
    left: 30px
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: var(--orange);
    position: absolute;
    border: 1px solid var(--sub-title-c);
}

.dot-a {
    left: 0px;
}

.dot-b {
    right: 0px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(180deg)
    }
    100% {
        transform: rotate(180deg)
    }
}

@keyframes onOff {
    0% {
        opacity: 0;
    }
    49% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.duo1 {
    animation-name: spin;
}

.duo2 {
    animation-name: spin;
    animation-direction: reverse;
}

.duo2 .dot-b {
    animation-name: onOff;
}

.duo1 .dot-a {
    opacity: 0;
    animation-name: onOff;
    animation-direction: reverse;
}


/* loader */

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #e1e1e1 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}


/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}


/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}


/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
    visibility: hidden;
}


/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}